<div class="container p-2">
  @for(maker of makers; track maker.id){
  <div class="row row-cols-3 m-1">
    <div class="col border"><img src="{{ maker.photo_link }}" /></div>
    <div class="col border">{{ maker.name }}</div>
    <div class="col border">{{ maker.des }}</div>
  </div>
  }
  <div class="container">
    <div class="border bg-red rounded"><h4>FA Part Products</h4></div>
  </div>
  <div class="grid ">
 

    @for(post of posts; track post.title ){

    <app-cardholder [post]="{ title: post.title,excerpt:post.excerpt , image: post.image }" />
    }
  </div>
</div>
