<div class="grid">
  <app-cardholder
    [post]="{
      excerpt: 'MCU,Power Management ICs',
      image: '/semicon/renesas-logo.png',
      title: 'Renesas'
    }"
  ></app-cardholder>
  <app-cardholder
    [post]="{
      excerpt: 'Transistors, Diodes, Thyristors, Rectifier',
      image: '/semicon/idc-logo.png',
      title: 'Isahaya'
    }"
  ></app-cardholder>
  <app-cardholder
    [post]="{
      excerpt: 'Diodes, Thyristors, Rectifiers, TVS',
      image: '/semicon/goodark.png',
      title: 'Good Ark'
    }"
  ></app-cardholder>
    <app-cardholder
    [post]="{
      excerpt: 'IPM, Power Modules, Driver IC ..',
      image: '/mitsubishi_elec_semi.svg',
      title: 'Mitsubishi Electric (Semiconductor)'
    }"
  ></app-cardholder>
    <app-cardholder
    [post]="{
      excerpt: 'AC LED-driver, AC-DC Regulator,..',
      image: '/semicon/silergy_logo.png',
      title: 'Silergy'
    }"
  ></app-cardholder>
</div>
