<h4>News and Updates</h4>
<div class="grid">
    <!-- @for(content of contents; track content.attribute.slug ){

    <app-blogcardholder [post]="{ title: post.title, id: post.id, excerpt: post.excerpt, image: post.image }" /> 
    } -->

    
    @for (content of contents; track content.attributes.slug) {
    <a [routerLink]="['/updates/', content.attributes.slug]">
      <h2 class="post__title">{{ content.attributes.title }}</h2>
      <p class="post__desc">{{ content.attributes.description }}</p>
    </a>
    }
</div>
