/* p{text-align: left;} */
/* .row{margin-top: 10px;} */
// @import 'bootstrap/scss/bootstrap';


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h5{
  color: white;
  /* align-items:center; */
  margin: auto;
}
h1{
  color: white;
  text-align: center;
  font-size: 5vw;
 
}
// p{
//   color: white;
//   font-size: 5vw;
//   margin: 20px;

 
// }
/* Css for logo */
img{
  height: auto;
  width:100%;
  object-fit: cover;
  margin: auto;
}

div.ok{
  margin: auto;
  font-size:xx-large;
  font-weight: bolder;
}


